.conteiner {
    width: 300px;
    background-color: green;
    box-sizing: border-box;
    position: relative;
    }
    .conteiner__element {
        margin: 30px;
        border-right: 20px solid red;
        border-left: 30px solid rgb(10, 24, 10);
        border-top: 45px solid royalblue;
        border-bottom: 15px solid rebeccapurple;
        padding: 70px;
        height: 80%;
        background-color: blue;
        box-sizing: border-box;
    }
    .list {
        width: 100%;
        background: gold;
        display: flex;
        flex-wrap: wrap;
      }
      .item {
        width: calc(25% - 20px);
        background: green;
        margin:5px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .item::before {
        display: block;
        content: '';
        padding-bottom: 100%;
      }