.list {
    background-color: rgb(255, 0, 136);
    padding: 40px;
    width: 600px;
    height: auto;
  
}
.list__item {
margin-bottom: 10px;
font-size: 30px;
}
.list__item:hover {
    background-color: brown;
}
.list__item:nth-child(3){
    margin-bottom: 20px;
    font-size: 40px;

}
.list__item:first-child {
    background-color: aqua;
}  
.list__item:last-child {
    background-color: rgb(98, 0, 255);
}
li::after {
    content:"@";
}
li::before {
    content: "#";
}

.text {
    padding: 40px;
    width: 600px;
    height: auto;
    width: 80%;
    background-color: aquamarine;
    margin-bottom: 10px;
}
@media (min-widht: 768px) {
p {
    width: 70vw;
    margin: 0 auto;
}
}
@media (min-widht: 768px) {
    p {
        width: 70vw;
        margin: 0 auto;
    }
    }
 @media (min-widht: 1024px) {
     p {
         width: 70vw;
         margin: 0 auto;
     }
}
@media (min-widht: 1200px) {
    p {
        width: 70vw;
        margin: 0 auto;
    }
    }